/*Edições do header e barra de navegação*//*Edições do header e barra de navegação*/

header, .navbar
{
    background-color: #58692E;
}
#nav-container
{
    padding-top: 0px;
    padding-bottom: 0px;
}
#logo{
    width: 170px;
}
.navbar-brand{
    padding: 0;
    color: white;
}
.navbar-brand:hover{
    color: white;
}
#navbar-links a{
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/*Edições do menu Hamburguer*/

ul{
    list-style: none;
    top: 30px;
    position: absolute;
    width: 100%;
}
#img{
    width: 30px;
}
#chec[type="checkbox"]{
    position: absolute;
    opacity: 0;
}
#chec[type="checkbox"]:checked ~ .hamburguer{
    transform: translateX(500px);
}
#container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #A0AA60;
}
.hamburguer{
    background-color: #A0AA60;
    width: 300px;
    height: 252px;
    left: -500px;
    position: relative;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}
#link{
    text-decoration: none;
    display: block;
    padding: 10px 5px;
    color: white;
    border-radius: 10px;
}
#link:hover{
    background-color: #ff2600;
    color: #fDD282;
}
#label{
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}
#label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: #ff2600;
    transition: 0.5s ease-in-out;
}
#label span:nth-child(1){
    top: 0;
}
#label span:nth-child(2){
    top: 8px;
}
#label span:nth-child(3){
    top: 16px;
}
#chec:checked + #label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}
#chec:checked + #label span:nth-child(2){
    opacity: 0;
}
#chec:checked + #label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}

/*Edições do corpo e rodapé da página*/

footer
{
    background-color: #58692E;
    text-align: center;
    color: white;
}
body,html
{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin: 0px;
    color: #ff2600;
    background-image: url("../img/corpo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#main{
    margin: 0%;
}
main{
    margin-left: 75px;
    margin-right: 75px;
    font-size: 20px;
}
#nossaloja{
    margin-top: 60px;
}

/*Formulário da página de contatos*/

.container{
    padding: 70px 0;
}
textarea{
    text-align: center;
}
input{
    text-align: center;
    border-radius: 5px;

}
#contato{
    background-color: #58692E;
    border-radius: 15%;
    text-align: center;
    color: #A0AA60;
}

/*Formulário da página de Cadastro*/

#containerCadastro{
    background-color: #A0AA60;
    border-radius: 15px;
    margin-right: 150px;

}
#centralizar{
    text-align: center;
    background-color: #aab17d;
    border-radius: 30px;
}
.label{
    width: 112px;
    display: inline-block;
    margin: 5px;
    background-color: #aab17d;
    text-align: center;
    border-radius: 30px;
}
input::placeholder{
    color: #ff2600;
}
textarea::placeholder{
    color: #ff2600;
}
button{
    color: #ff2600;
}
#login{
    width: 190px;
    display: inline-block;
    margin: 5px;
    text-align: center;
    background-color: #aab17d;
    border-radius: 5px;
}
.input{
    width: 70%;
}

/*Carousel slider*/

#Slider{
    padding: 0;
}
#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 500px;
}
#mainSlider .carousel-caption{
    top: 30px;
}
#mainSlider .carousel-caption h2{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    color:#ff2600;
}
#mainSlider .carousel-caption p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-bottom: 100px;
    color:#ff2600;

}
.carousel-indicators .active{
    background-color: #ff2600;
}
